name: Builds and runs simple window

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-linux:
    name: Build SDL
    runs-on: ubuntu-latest
    steps:
      - name: Install Zig 0.12
        run: |
          wget https://ziglang.org/download/0.12.0/zig-linux-x86_64-0.12.0.tar.xz
          tar xf zig-linux-x86_64-0.12.0.tar.xz
          echo 'export PATH="$HOME/zig-linux-x86_64-0.12.0:$PATH"' >> ~/.bashrc
      - name: check zig version
        run: |
          INSTALLED_ZIG_VERSION=$(zig version)
          [  "$INSTALLED_ZIG_VERSION" != "0.12" ] && exit 1
