name: Builds and runs simple window

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

defaults:
  run:
    shell: bash -e {0}

jobs:
  build-linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Install Zig 0.12
        run: |
          wget https://ziglang.org/download/0.12.0/zig-linux-x86_64-0.12.0.tar.xz
          tar xf zig-linux-x86_64-0.12.0.tar.xz
          echo "$HOME/zig-linux-x86_64-0.12.0/zig" >> $GITHUB_PATH
      - name: check zig version
        run: |
          echo $GITHUB_PATH
          cd $HOME/zig-linux-x86_64-0.12.0/
          ls -ltra
          INSTALLED_ZIG_VERSION=$(zig version)
          [  "$INSTALLED_ZIG_VERSION" != "0.12" ] && exit 1
